<header class="sticky-top" >
  <div class="header-top-bar">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 text-right">
          <ul class="text-right list-inline-item pl-0 mb-0">

            <li class="list-inline-item"><a class="btn btn-icon btn-round-full btn-header-whatsapp btn-sm"
                target="_blank" href="https://wa.me/918006300438?text=Hi,I%20want%20to%20book%20an%20appointment">
                <i class="fa fa-whatsapp text-color-2 mr-2" style="font-weight: bold;"></i> Book On Whatsapp</a> </li>
          </ul>

          <div class="text-right list-inline-item top-right-bar mt-0">
            <a href="tel:+918006300438">
              <span class="d-none d-sm-inline-block">Call Now : </span>
              <span class="d-inline-block d-sm-none"><i class="icofont-phone"></i></span>
              <span class="h6">+91 8006300438</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-md navbar-light" style="background-color: white;">
    <a class="navbar-brand p-0 mt-0" href="/">
      <img src="assets/images/logoheader.png" alt="logo" class="header-logo-margin img-fluid w-100">
      <img src="assets/images/phynameheader.png" alt="" class="img-fluid">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarItems"
      aria-controls="navbarItems" aria-expanded="false" aria-label="Toggle navigation"
      (click)="navbarCollapsed = !navbarCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse" [class.collapse]="navbarCollapsed">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link heading" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link heading" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link heading" routerLink="/services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link heading" routerLink="/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link heading" routerLink="/appointment">Book Appointment</a>
        </li>

      </ul>
    </div>
  </nav>
</header>