<section class="section cta-page">
  <div class="blur-in-mob d-lg-none"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="cta-content">
          <div class="divider mb-4"></div>
          <h2 class="mb-5 text-lg d-none d-lg-block">We are pleased to offer you the <span
              class="blue-color-title ">best physiotherapy services at your home</span></h2>
          <h2 class="mb-5 d-block d-lg-none blue-color-title">We are pleased to offer you the best physiotherapy
            services at your home</h2>
          <a routerLink="/appointment" class="btn btn-main-2 btn-round-full">Book appointment<i
              class="icofont-simple-right  ml-2"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>


<section style="margin-top: 2rem;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="feature-block d-lg-flex">
          <div class="feature-item mb-5 mb-lg-0">
            <div class="feature-icon mb-4">
              <i class="icofont-surgeon-alt"></i>
            </div>
            <span>24 Hours Service</span>
            <h4 class="mb-3">Online Appointment</h4>
            <p class="mb-4">Book an appointment and we will get back to you</p>
            <a routerLink="/appointment" class="btn btn-main btn-round-full">Make a appointment</a>
          </div>

          <div class="feature-item mb-5 mb-lg-0">
            <div class="feature-icon mb-4">
              <i class="icofont-ui-clock"></i>
            </div>
            <span>Timing schedule</span>
            <h4 class="mb-3">Working Hours</h4>
            <ul class="w-hours list-unstyled">
              <li class="d-flex justify-content-between">Mon - Sun : <span>07:00 am - 10:00 pm</span></li>
              <li class="d-flex justify-content-between">Emergency case : <span>10:00 pm - 07:00 am</span></li>
            </ul>
          </div>

          <div class="feature-item mb-5 mb-lg-0">
            <div class="feature-icon mb-4">
              <i class="icofont-support"></i>
            </div>
            <span>Emegency Cases</span>
            <h4 class="mb-3">+91 8006300438</h4>
            <p>Get all time support for emergency. Get connected with us for any urgency.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>










<section class="section service-2 service gray-bg pt-5 pb-4">
  <div class="row justify-content-center">
    <div class="col-lg-7 text-center">
      <div class="section-title">
        <h2>Our World Class Services</h2>
        <div class="divider mx-auto my-4"></div>
        <p class="title-color font-bold">We provide complete Physiotherapy solutions with advanced technology</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp"class="img-fluid" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Home Physiotherapy</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">Get highly convenient & time saving physiotherapy sessions at home.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="img-fluid w-100" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Chest Physiotherapy</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">Chest percussion & vibration, controlled coughing, spirometry, postural
                  drainage.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="img-fluid w-100" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Back Pain</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">Get rid of your back pain by our active and passive physiotherapy for back.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="img-fluid w-100" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Cervical Physiotherapy</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">Physiotherapy for neck pain, stiffness, loss of mobility and headaches.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="img-fluid w-100" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Post-Covid 19 Physiotherapy</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">Retrain your muscles, joints and lungs for strength after covid 19.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="img-fluid w-100" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Post Surgery Physiotherapy</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">Restore your activity, mobilization and muscle strength after any surgery.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row" [hidden]="isHideAll">

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="img-fluid w-100" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Peralysis Physiotherapy</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">Improve posture, sitting/standing balance, core stability, ability to
                  complete
                  transfers and walking pattern and stamina.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="img-fluid w-100" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Parkinson Disease Physiotherapy</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">Amplitude training(LSVT BIG training), reciprocal movements, balance work,
                  stretching and flexibility and strength training.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="img-fluid w-100" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Foot Drop Physiotherapy</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">Foot drop syndrome is a neuromuscular disorder that can be treated by
                  exercise
                  therapy, electrical stimulation, gait training and foot drop braces & splints.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="img-fluid w-100" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Stroke Physiotherapy</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">Physical therapy allows patients to relearn everyday skills and retrain
                  their
                  healthy brain cells to control the affected body parts.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="img-fluid w-100" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Frozen Shoulder Physiotherapy</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">Frozen shoulder is a condition in which the shoulder is stiff, painful, and
                  has limited motion in all directions.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="img-fluid w-100" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Video Calling Physiotherapy</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">Not prefer to visit doctor personally due to covid, we provide video
                  physiotherapy session also.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="img-fluid w-100" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Knee Replacement</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">We provide best doctor at affordable prices for Knee replacement, also known
                  as knee arthroplasty.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="img-fluid w-100" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Hip Replacement</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">We provide best experts in Delhi-NCR for Hip replacement, also known as Hip
                  arthroplasty.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="img-fluid w-100" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Nursing Home Care</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">We offer wide-ranging services from post-surgical and general health care
                  nursing services.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 text-center mt-4" [hidden]="IsHideBtn">
      <a (click)="ShowAll()"  class="brand-color h5">View all services</a>
    </div>
  </div>
</section>


<section class="appoinment section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="mt-3">
          <div class="feature-icon mb-3">
            <i class="icofont-support text-lg"></i>
          </div>
          <span class="h3">Call for an Emergency Service!</span>
          <h2 class="brand-color mt-3"><a class="brand-color" href="tel:+918006300438">+91 8006300438</a></h2>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="appoinment-wrap mt-5 mt-lg-0 pl-lg-5">
            <h2 class="mb-2 title-color">Book appointment</h2>
            <p class="mb-4 title-color font-bold">Get relief from pain now</p>
            <form [formGroup]="AppointmentForm">
              <div class="row">
                  <div class="col-lg-6 mb-3">
                      <input name="name" id="name" type="text" class="form-control" placeholder="Full Name"
                      formControlName="FullName" autocomplete="off" tabindex="0" maxlength="50">
                  </div>
                  <div class="col-lg-6 mb-3 ml-3">

                      <input name="phone" id="phone" type="tel" class="form-control"
                          placeholder="Phone Number"
                          formControlName="MobileNumber" autocomplete="off" tabindex="0" maxlength="10">
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-6 mb-3">
                      <input name="date" id="date" type="date" class="form-control" placeholder="dd/mm/yyyy"
                      formControlName="AppointmentDate" autocomplete="off" tabindex="0">
                  </div>

                  <div class="col-lg-6 mb-3">
                      <input name="address" id="address" type="text" class="form-control"
                          placeholder="Full address"
                          formControlName="Address" autocomplete="off" tabindex="0" maxlength="200">

                  </div>
              </div>
              <div class="form-group-2 mb-3">
                  <textarea name="message" id="message" class="form-control" rows="2"
                      placeholder="Your Message"
                      formControlName="Message" autocomplete="off" tabindex="0" maxlength="300"></textarea>
              </div>
              <input class="btn btn-main btn-round-full mt-3" name="submit" type="submit" (click)="SaveAppointments()" value="Book Now ">
          </form>
        </div>
    </div>
    </div>
  </div>

</section>

<section class="section service-2 service pt-5 pb-4 reviews-background">
  <h1 class="text-center mt-5 mb-5">We served over 1500+ Happy Patients</h1>
  <div class="section-title">
    <h3 class="text-center mt-5 mb-5">What our happy patients say about us</h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="testimonial-thumb">
            <img src="assets/images/user2.webp" alt="" class="reviews-icons img-fluid">
          </div>

          <div class="client-info">
            <h4>Jyoti(age 50)</h4>
            <span class="reviews-heading">Frozen shoulder physiotherapy</span>
            <p class="mt-5">
              I strained my shoulder while doing some house hold work. I thought it was normal but it
              turned into Frozen shoulder. relivephysiotherapy.com sent me best physiotherapist to treat
              me.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="testimonial-thumb">
            <img src="assets/images/user1.webp" alt="" class="reviews-icons img-fluid">
          </div>

          <div class="client-info">
            <h4>Vijay Sinha(age 70)</h4>
            <span class="reviews-heading">Parkinson disease physiotherapy</span>
            <p class="mt-5">
              I lost my hope that I will be cured for my parkinson disease but I am very thankful to Dr.
              zeeshan and relivephysiotherapy.com to treat my disease. They work with patience and elegance.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="testimonial-thumb">
            <img src="assets/images/user2.webp" alt="" class="reviews-icons img-fluid">
          </div>

          <div class="client-info">
            <h4>Jyoti(age 50)</h4>
            <span class="reviews-heading">Frozen shoulder physiotherapy</span>
            <p class="mt-5">
              I strained my shoulder while doing some house hold work. I thought it was normal but it
              turned into Frozen shoulder. relivephysiotherapy.com sent me best physiotherapist to treat
              me.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="testimonial-thumb">
            <img src="assets/images/user1.webp" alt="" class="reviews-icons img-fluid">
          </div>

          <div class="client-info">
            <h4>Vijay Sinha(age 70)</h4>
            <span class="reviews-heading">Parkinson disease physiotherapy</span>
            <p class="mt-5">
              I lost my hope that I will be cured for my parkinson disease but I am very thankful to Dr.
              zeeshan and relivephysiotherapy.com to treat my disease. They work with patience and elegance.
            </p>
          </div>
        </div>
      </div>



    </div>
  </div>
</section>
<section class="section clients service">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="section-title text-center">
          <h2>Locations we serve</h2>
          <div class="divider mx-auto my-4"></div>
          <p class="title-color font-bold">Currently,we serve in Delhi-NCR, soon we will be serving PAN India</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row ">
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="service-item mb-4 bg-secondary">
          <div class="icon d-flex align-items-center">
            <i class="fa fa-map-marker text-lg location-icon" aria-hidden="true"></i>
            <h3 class="mt-3 ml-2 text-white d-none d-sm-block">Delhi</h3>
            <h4 class="mt-3  text-white d-block d-sm-none">Delhi</h4>
          </div>
          <div class="content">
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="service-item mb-4 bg-secondary">
          <div class="icon d-flex align-items-center">
            <i class="fa fa-map-marker text-lg location-icon" aria-hidden="true"></i>
            <h3 class="mt-3 ml-2 text-white d-none d-sm-block">Faridabad</h3>
            <h4 class="mt-3 text-white d-block d-sm-none">Faridabad</h4>
          </div>
          <div class="content">
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="service-item mb-4 bg-secondary">
          <div class="icon d-flex align-items-center">
            <i class="fa fa-map-marker text-lg location-icon" aria-hidden="true"></i>

            <h3 class="mt-3 ml-2 text-white d-none d-sm-block">Gurugram</h3>
            <h4 class="mt-3 text-white d-block d-sm-none">Gurugram</h4>
          </div>
          <div class="content">
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="service-item mb-4 bg-secondary">
          <div class="icon d-flex align-items-center">
            <i class="fa fa-map-marker text-lg location-icon" aria-hidden="true"></i>

            <h3 class="mt-3 ml-2 text-white d-none d-sm-block">Noida</h3>
            <h4 class="mt-3 text-white d-block d-sm-none">Noida</h4>
          </div>
          <div class="content">
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="service-item mb-4 bg-secondary">
          <div class="icon d-flex align-items-center">
            <i class="fa fa-map-marker text-lg location-icon" aria-hidden="true"></i>
            <h3 class="mt-3 ml-2 text-white d-none d-sm-block">Ghaziabad</h3>
            <h4 class="mt-3 text-white d-block d-sm-none">Ghaziabad</h4>
          </div>
          <div class="content">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
  <p style="color: white">Please Wait. </p>  
  </ngx-spinner> 