<section class="section cta-page">
    <div class="blur-in-mob d-lg-none"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="cta-content">
                    <div class="divider mb-4"></div>
                    <h2 class="mb-5 text-lg d-none d-lg-block title-color font-bold">Get Physiotherapy
                        <span class="title-color font-bold">Treatment At Home In </span>
                        <span class="title-color font-bold">Faridabad</span>
                    </h2>
                    <a routerLink="/appointment" class="btn btn-main-2 btn-round-full">Book appointment<i
                            class="icofont-simple-right  ml-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section department-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="department-content mt-0	">
                    <h3 class="text-md">Best physiotherapy homecare on demand</h3>
                    <div class="divider my-4"></div>
                    <p class="lead title-color font-bold">Are you looking for a physiotherapist near me in Faridabad,
                        Here, Daksh Physiotherapy provides you expert at your home</p>
                    <p class="text-justify title-color font-bold">At Daksh Physiotherapy At Home, We provide exclusive,
                        best quality and effective treatment therapies at affordable prices at your home comfort. Our
                        standard treatment cycle is, deep assessment of injury, work on assessment for best solution and
                        accordingly provide the best treatment to patient. We work on developing fitness plan for you to
                        stay active on daily basis.</p>


                    <h3 class="mt-5 mb-4">We provide a wide range of physiotherapy services</h3>
                    <div class="divider my-4"></div>
                    <div class="row">
                        <div class="col-lg-6">

                            <ul class="list-unstyled department-service mb-0 title-color font-bold">
                                <li><i class="fa fa-check mr-2 mb-3"></i> Chest Physiotherapy</li>
                                <li><i class="fa fa-check mr-2 mb-3"></i> Back pain</li>
                                <li><i class="fa fa-check mr-2 mb-3"></i> Cervical Physiotherapy</li>
                                <li><i class="fa fa-check mr-2 mb-3"></i> Post-Covid 19 Physiotherapy</li>
                                <li><i class="fa fa-check mr-2 mb-3"></i> Post Surgery Physiotherapy</li>
                                <li><i class="fa fa-check mr-2 mb-3"></i> Home Physiotherapy </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled department-service title-color font-bold">
                                <li><i class="fa fa-check mr-2 mb-3"></i> Peralysis Physiotherapy</li>
                                <li><i class="fa fa-check mr-2 mb-3"></i> Parkinson Disease Physiotherapy</li>
                                <li><i class="fa fa-check mr-2 mb-3"></i> Foot Drop Physiotherapy</li>
                                <li><i class="fa fa-check mr-2 mb-3"></i> Stroke Physiotherapy</li>
                                <li><i class="fa fa-check mr-2 mb-3"></i> Frozen Shoulder Physiotherapy</li>
                                <li><i class="fa fa-check mr-2 mb-3"></i> Video Calling Physiotherapy</li>
                            </ul>

                        </div>
                    </div>

                    <a routerLink="/appointment" class="btn btn-main-2 btn-round-full">Make an Appointment<i
                            class="icofont-simple-right ml-2  "></i></a>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="sidebar-widget  gray-bg p-4">
                    <h5 class="mb-4">Make Appointment</h5>
                    <div class="divider my-4"></div>
                    <ul class="list-unstyled lh-35">
                        <li class="d-flex justify-content-between align-items-center">
                            Monday - Sunday
                            <span>07:00 am - 10:00 pm</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            Emergency case
                            <span>10:00 pm - 07:00 am</span>
                        </li>

                    </ul>

                    <div class="sidebar-contatct-info mt-4">
                        <p class="mb-0">Need Urgent Help?</p>

                        <h3 class="text-color-2"><a class="text-color-2" href="tel:+918006300438">+91 8006300438</a>
                        </h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="fetaure-page pb-5">
    <div class="container">
        <h2 class="text-center ">Why Choose us?</h2>
        <div class="divider mx-auto my-4 mb-5"></div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="about-block-item mb-5 mb-lg-0 text-center">
                    <i class="fa fa-home display-3 about-us-icons" aria-hidden="true"></i>
                    <h4 class="mt-3">Physiotherapy At Home</h4>
                    <p>We provide physiotherapy services at your home comfort with-in Delhi NCR</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="about-block-item text-center">
                    <i class="fa fa-user-md display-3 about-us-icons" aria-hidden="true"></i>
                    <h4 class="mt-3">Certified Doctors</h4>
                    <p>Our all doctors are professional and highly trained certified in physiotherapy</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="about-block-item mb-5 mb-lg-0 text-center">
                    <!-- <i class="fa fa-stretcher display-3" aria-hidden="true"></i> -->
                    <i class="fa fa-user-md display-3 about-us-icons" aria-hidden="true"></i>
                    <h4 class="mt-3">Modern Equipments</h4>
                    <p>Our physiotherapists come with modern equipments whatever your therapy needs at home.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="about-block-item mb-5 mb-lg-0 text-center">
                    <i class="fa fa-user-md display-3 about-us-icons" aria-hidden="true"></i>
                    <h4 class="mt-3">Covid Safety</h4>
                    <p>Our experts visits with safety norms for covid 19. Temperture is checked before a visit for every
                        expert.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="section service-2 service pt-5 pb-4 reviews-background">
    <h1 class="text-center mt-5 mb-5">We served over 1500+ Happy Patients</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="service-item mb-4">
                    <div class="testimonial-thumb">
                        <img src="assets/images/user2.webp" alt="" class="reviews-icons img-fluid">
                    </div>

                    <div class="client-info">
                        <h4>Jyoti(age 50)</h4>
                        <span class="reviews-heading">Frozen shoulder physiotherapy</span>
                        <p class="mt-5">
                            I strained my shoulder while doing some house hold work. I thought it was normal but it
                            turned into Frozen shoulder. relivephysiotherapy.com sent me best physiotherapist to treat
                            me.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="service-item mb-4">
                    <div class="testimonial-thumb">
                        <img src="assets/images/user1.webp" alt="" class="reviews-icons img-fluid">
                    </div>

                    <div class="client-info">
                        <h4>Vijay Sinha(age 70)</h4>
                        <span class="reviews-heading">Parkinson disease physiotherapy</span>
                        <p class="mt-5">
                            I lost my hope that I will be cured for my parkinson disease but I am very thankful to Dr.
                            zeeshan and relivephysiotherapy.com to treat my disease. They work with patience and elegance.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="service-item mb-4">
                    <div class="testimonial-thumb">
                        <img src="assets/images/user2.webp" alt="" class="reviews-icons img-fluid">
                    </div>

                    <div class="client-info">
                        <h4>Jyoti(age 50)</h4>
                        <span class="reviews-heading">Frozen shoulder physiotherapy</span>
                        <p class="mt-5">
                            I strained my shoulder while doing some house hold work. I thought it was normal but it
                            turned into Frozen shoulder. relivephysiotherapy.com sent me best physiotherapist to treat
                            me.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="service-item mb-4">
                    <div class="testimonial-thumb">
                        <img src="assets/images/user1.webp" alt="" class="reviews-icons img-fluid">
                    </div>

                    <div class="client-info">
                        <h4>Vijay Sinha(age 70)</h4>
                        <span class="reviews-heading">Parkinson disease physiotherapy</span>
                        <p class="mt-5">
                            I lost my hope that I will be cured for my parkinson disease but I am very thankful to Dr.
                            zeeshan and relivephysiotherapy.com to treat my disease. They work with patience and elegance.
                        </p>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>
<section class="section clients service">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2><a href="tel:+918006300438"><span class="brand-color">Call now</span></a> to book your
                        Physiotherapy session</h2>
                    <div class="divider mx-auto my-4"></div>
                    <h3> <a href="tel:+918006300438">
                            <span><i class="icofont-phone mr-2 text-black"></i> </span>
                            <span class=" ">+91 8006300438</span>
                        </a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>