/* You can add global styles to this file, and also import other style files */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    color: #222;
}
h5, .h5 {
    font-size: 1.25rem;
}
h2, .h2 {
    font-size: 44px;
}

.btn-round-full {
    border-radius: 50px !important;
}

.btn-main {
    background: #223a66;
    color: #fff;
    border-color: #223a66;
}
.btn-main-2 {
    background: #22CE69;
    color: #fff;
    border-color: #22CE69;
}
.btn {
    display: inline-block;
    font-size: 14px;
    font-size: 0.8125rem;
    font-weight: 700;
    letter-spacing: .5px;
    padding: 0.75rem 2rem;
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all .35s ease;
}
.text-color-2 {
    color: #22CE69;
}
h3, .h3 {
    font-size: 1.5rem;
}
.section-title {
    margin-bottom: 70px;
}
.section-title h2 {
    color: #223a66;
}
.divider {
    width: 40px;
    height: 5px;
    background: #22CE69;
}
.section {
    padding: 100px 0;
}
.gray-bg {
    background: #f4f9fc;
}
.text-color {
    color: #223a66;
}
.bg-1 {
    background: url("./assets/images/22.webp") no-repeat 50% 50%;
    background-size: cover;
    position: relative;
}

.page-title {
    padding: 120px 0px 70px 0px;
    position: relative;
}
.page-title .block h1 {
    color: #fff;
}
.overlay:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: #223a66;
}
.bg-overlay {   
    color: #fff;   
    padding-top: 50px;
    background: #223a66;   
    margin-top: -4rem !important; 
}
h4, .h4 {
    font-size: 1.3rem;
    line-height: 30px;
}
.doctor-inner-box {
    overflow: hidden;
}
.doctor-profile {
    overflow: hidden;
    position: relative;
    box-shadow: 0px 8px 16px 0px rgb(200 183 255 / 20%);
}
.doctor-inner-box .doctor-profile .doctor-img {
    transition: all .35s ease;
}
.guidelines
{
    font-size: 16px !important;
    color: blue !important;
    font-weight: 500 !important;
}
.faq_area {
    position: relative;
    z-index: 1;   
}
.section_padding_130 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.faq-accordian {
    position: relative;
    z-index: 1;
}
.faq-accordian .card .card-header {
    background-color: #f5f5ff;
    padding: 0;
}
.faq-accordian .card .card-header h6.collapsed span {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.faq-accordian .card {
    position: relative;
    z-index: 1;
    margin-bottom: 1.5rem;
}
.faq-accordian .card .card-header h6 span {
    font-size: 1.5rem;
}
.faq-accordian .card .card-header h6 {
    cursor: pointer;
    padding: 1.75rem 2rem;
    color: #22CE69;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 2px solid #ffffff !important;
}

.logo
{
    width: 50% !important;
    height: auto !important;
}
.about-us-icons
{
    font-size: 5rem !important;
    color: deepskyblue !important;
}
.service {
    padding-top: 180px;
}
.section {
    padding: 100px 0;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
header, nav, section {
    display: block;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
section {
    display: block;
}
.body {
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: #6F8BA4;
    font-weight: 400;
}
.service .service-item {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
}
.service .icon {
    //float: left;
    margin-bottom: 10px;
}
.service i {
    color: #22CE69;
}

.text-lg {
    font-size: 40px;
}
.service h4 {
    padding-left: 20px;
}
.cta-section {
    margin-bottom: -80px;
}
.counter-stat {
    text-align: center;
    padding: 55px 0px 40px 0px;
    position: relative;
}
.counter-stat i {
    display: block;
    color: rgba(255, 255, 255, 0.06);
    font-size: 70px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
}
.counter-stat p {
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 0.7);
}
.features {
    margin-top: -70px;
}
.feature-item {
    flex-basis: 33.33%;
    margin: 0px 10px;
    padding: 40px 30px;
    background-color: #fff;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 30px 0px rgb(0 42 106 / 10%);
}
.w-hours li {
    padding: 6px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.banner1 {
    position: relative;
    overflow: hidden;
    background: #fff;
  //  background: url("./assets/images/about-us-banner1.webp") no-repeat;
    background-size: cover;
    min-height: 550px;
}
.blur-in-mob {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: #fff;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}
.banner1 .block {
    padding: 80px 0px 160px;
}
.text-sm {
    font-size: 14px;
}
.letter-spacing {
    letter-spacing: 2px;
}
.btn.btn-icon i {
    border-left: 1px solid rgba(255, 255, 255, 0.09);
    padding-left: 15px;
}
.banner {
    position: relative;
    overflow: hidden;
    background: #fff;
 //  background: url("./assets/images/22.webp") no-repeat;
    background-size: cover;
    min-height: 550px;
}
.brand-color {
    color: #22CE69 !important;
}
.title-color {
    color: #223a66;
}
.cta-page {
    background: url("./assets/images/homepage.jpg") no-repeat;
    background-size: cover;
    position: relative;
    width: auto !important;
}
.location-icon
{    
        font-size: 3rem !important;
        margin-right: 10px !important;
}
.testimonial-thumb {
    float: left !important;
}
.testimonial-block .client-info {
    margin-bottom: 20px;
}
.reviews-icons
{           
        width: 80px;
        height: 80px;
        border-radius: 100%;
        margin-right: 20px;
        margin-bottom: 30px;
        border: 5px solid #eff0f3;
        margin-top: -5px;    
}
.reviews-heading
{
    color: deepskyblue !important;
}
.reviews-background
{
    background: lightblue !important;
}
 a {
    color: blue;
    text-decoration: none !important;
    transition: all .35s ease;
    border-bottom-style: none;
    font-weight: bold !important;
}
a:hover
{
    color: green !important;
    font-weight: bold !important;
}

.text-center {
    text-align: center !important;
}


.about-us-text
{
    color: #fff!important
}
.title-color {
    color: #223a66;
}
.font-bold
{
    font-weight: bold !important;
}
.text-md {
    font-size: 2.25rem;
}

p {
    line-height: 30px;
}

.department-service li i {
    color: #22CE69;
}
.lh-35 {
    line-height: 35px;
}
.sidebar-widget {
    margin-bottom: 30px;
    padding-bottom: 35px;
}
.testimonial {
    position: relative;
}
.testimonial:before {
    width: 48%;
    height: 100%;
    top: 0;
    left: 0px;
    position: absolute;
    content: "";
    background: url(/src/assets/images/about-us-banner1.webp) no-repeat 50% 50%;
}
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before, .slick-track:after {
    display: table;
    content: '';
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.testimonial-block {
    position: relative;
    margin-bottom: 20px;
}
.testimonial-block .client-info {
    margin-bottom: 20px;
}
.testimonial-block .client-info h4 {
    margin-bottom: 0px;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
.service-item {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
}
.service .icon {
    float: left;
    margin-bottom: 10px;
}
.content {
    clear: both;
    font-size: 16px !important;
    color: #6F8BA4 !important;
    font-weight: 500 !important;
}
.border-none
{
    border: none !important;
}
.heading
{
    padding-left: 7px;
    font-weight: bold;
    color: black !important;    
}
.nav-item{
    padding:2px;
    margin-left: 7px;
}
.brand-color {
    color: #22CE69 !important;
}

.call-now
{
    font-size: 2.5rem;
    font-weight: 900;
}
.shadow-1 {
    box-shadow: 0px 5px 15px rgb(87 204 195 / 15%);
}
#navbarmain {
    padding: 0px 0px;
}
.header-top-bar {
    background: #223a66;
    font-size: 14px;
    padding: 8px 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #fff;
}
.btn-header-whatsapp {
    background: #fff;
    color: #22CE69;
    /* border-color: #fff; */
    border: 1px solid #fff;
    font-size: 12px;
    /* height: 30px; */
    padding: 3px 10px 3px 0px;
    text-transform: none;
    font-weight: lighter;
}
.top-right-bar a span {
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
}
.text-right {
    text-align: right!important;
}
.text-white {
    color: #fff!important;
}
.header-logo-margin
{
    width: 10% !important;
    margin-left: 3rem !important;
}
.footer-logo-margin {
    width: 35% !important;
}
.footer-name
{
        margin-top: -80px !important;
        width: 65% !important;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}


