<!-- <section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <span class="text-white">Book your Seat</span>
                    <h1 class="text-capitalize mb-5 text-lg">Appointment</h1>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="page-title bg-1">
<div class="container bg-overlay">
	<div class="row">
		<div class="col-12 col-sm-12">
            <div class="block text-center">
                <span class="text-white mb-5">Book your Seat</span>
                <h2 class="text-capitalize text-white mb-5 text-lg">Appointment</h2>
            </div>
        </div>
	</div>
</div>
</section>



<section class="appoinment section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="mt-3">
                    <div class="feature-icon mb-3">
                    </div>
                    <span class="h3">Call for an Emergency Service!</span>
                    <h2 class="brand-color mt-3"><a class="brand-color" href="tel:+918006300438">+91 8006300438</a></h2>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="appoinment-wrap mt-5 mt-lg-0 pl-lg-5">
                    <h2 class="mb-2 title-color">Book appointment</h2>
                    <p class="mb-4 title-color font-bold">Get relief from pain now</p>
                    <form [formGroup]="AppointmentForm">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <input name="name" id="name" type="text" class="form-control" placeholder="Full Name"
                                formControlName="FullName" autocomplete="off" tabindex="0" maxlength="50">
                            </div>
                            <div class="col-lg-6 mb-3 ml-3">

                                <input name="phone" id="phone" type="tel" class="form-control"
                                    placeholder="Phone Number"
                                    formControlName="MobileNumber" autocomplete="off" tabindex="0" maxlength="10">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <input name="date" id="date" type="date" class="form-control" placeholder="dd/mm/yyyy"
                                formControlName="AppointmentDate" autocomplete="off" tabindex="0">
                            </div>

                            <div class="col-lg-6 mb-3">
                                <input name="address" id="address" type="text" class="form-control"
                                    placeholder="Full address"
                                    formControlName="Address" autocomplete="off" tabindex="0" maxlength="200">

                            </div>
                        </div>
                        <div class="form-group-2 mb-3">
                            <textarea name="message" id="message" class="form-control" rows="2"
                                placeholder="Your Message"
                                formControlName="Message" autocomplete="off" tabindex="0" maxlength="300"></textarea>
                        </div>
                        <input class="btn btn-main btn-round-full mt-3" name="submit" type="submit" (click)="SaveAppointments()" value="Book Now ">
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
    </ngx-spinner> 