<section class="section cta-page img-fluid">
  <div class="blur-in-mob d-lg-none"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="cta-content">
          <div class="divider mb-4"></div>
          <h2 class="mb-5 text-lg d-none d-lg-block">We are pleased to offer you the <span
              class="blue-color-title ">best physiotherapy services at your home</span></h2>
          <h2 class="mb-5 d-block d-lg-none blue-color-title">We are pleased to offer you the best physiotherapy
            services at your home</h2>
          <a routerLink="/appointment" class="btn btn-main-2 btn-round-full">Book appointment<i
              class="icofont-simple-right  ml-2"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>





<section class="section service-2 service gray-bg pt-5 pb-4">
  <h1 class="text-center mt-5 mb-5">Best Physiotherapy Services in Delhi-NCR</h1>

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="img-fluid w-100" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Home Physiotherapy</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">Get highly convenient & time saving physiotherapy sessions at home.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="img-fluid w-100">
                <h5 class="card-title mt-3 mb-3 heading">Chest Physiotherapy</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">Chest percussion & vibration, controlled coughing, spirometry, postural
                  drainage.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" width="60" class="img-fluid w-100">
                <h5 class="card-title mt-3 mb-3 heading">Back Pain</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">Get rid of your back pain by our active and passive physiotherapy for back.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="img-fluid w-100" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Cervical Physiotherapy</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">Physiotherapy for neck pain, stiffness, loss of mobility and headaches.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="img-fluid w-100" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Post-Covid 19 Physiotherapy</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">Retrain your muscles, joints and lungs for strength after covid 19.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="img-fluid w-100" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Post Surgery Physiotherapy</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">Restore your activity, mobilization and muscle strength after any surgery.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="img-fluid w-100" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Peralysis Physiotherapy</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">Improve posture, sitting/standing balance, core stability, ability to complete
                  transfers and walking pattern and stamina.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="img-fluid w-100" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Parkinson Disease Physiotherapy</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">Amplitude training(LSVT BIG training), reciprocal movements, balance work,
                  stretching and flexibility and strength training.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="img-fluid w-100" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Foot Drop Physiotherapy</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">Foot drop syndrome is a neuromuscular disorder that can be treated by exercise
                  therapy, electrical stimulation, gait training and foot drop braces & splints.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="img-fluid w-100" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Stroke Physiotherapy</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">Physical therapy allows patients to relearn everyday skills and retrain their
                  healthy brain cells to control the affected body parts.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="img-fluid w-100" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Frozen Shoulder Physiotherapy</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">Frozen shoulder is a condition in which the shoulder is stiff, painful, and
                  has limited motion in all directions.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="img-fluid w-100" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Video Calling Physiotherapy</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">Not prefer to visit doctor personally due to covid, we provide video
                  physiotherapy session also.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="img-fluid w-100" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Knee Replacement</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">We provide best doctor at affordable prices for Knee replacement, also known
                  as knee arthroplasty.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="img-fluid w-100" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Hip Replacement</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">We provide best experts in Delhi-NCR for Hip replacement, also known as Hip
                  arthroplasty.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="card border-none">
            <div class="card-body">
              <div class="icon d-flex align-items-center">
                <img src="assets/images/physio-icon.webp" class="" width="60">
                <h5 class="card-title mt-3 mb-3 heading">Nursing Home Care</h5>
              </div>
              <div class="content">
                <p class="card-text mb-4">We offer wide-ranging services from post-surgical and general health care
                  nursing services.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section clients service">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <h2><a href="tel:+918006300438"><span class="brand-color call-now">Call now</span></a> to book your
            Physiotherapy session</h2>
          <div class="divider mx-auto my-4"></div>
          <h3> <a href="tel:+8006300438">
              <span><i class="icofont-phone mr-2 text-black"></i> </span>
              <span class=" ">+91 8006300438</span>
            </a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>