.footer {
    padding-bottom: 10px;
}
.logo {
    font-weight: 600;
    letter-spacing: 1px;
}
.widget h4 {
    color: #223a66;
}
.lh-35 {
    line-height: 35px;
}
.widget .footer-menu a {
    color: #6F8BA4;
}
.footer-btm {
    border-top: 1px solid rgba(0, 0, 0, 0.06);
}
.footer-socials li a {
    width: 45px;
    height: 45px;
    background: #6F8BA4;
    color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    padding-top: 12px;
}
.reveal {
    transition: all .3s;
    cursor: pointer;
    opacity: 1;
}

.backtop {
    position: fixed;
    background: #22CE69;
    z-index: 9999;
    display: inline-block;
    right: 45px;
    width: 90px;
    height: 90px;
    bottom: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    border-radius: 50px;
}
.backtop1 {
    position: fixed;
    background: #223A66;
    z-index: 9999;
    display: inline-block;
    right: 45px;
    width: 90px;
    height: 90px;
    bottom: 150px;
    color: #f4f9fc;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    border-radius: 50px;
}
.font-size-45 {
    font-size: 45px !important;
}
.social-media-icons
{
    font-size:20px !important;
    color: white !important;
}
div span,
div img {
    display: inline-block;
    vertical-align: middle;
}