<footer class="footer section gray-bg ml-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mr-auto col-sm-12 col-12">
        <div class="widget mb-5 mb-lg-0">
          <div class="mb-4">
            <img src="assets/images/logoheader.png" alt="logo" class="footer-logo-margin img-fluid w-100">
            <img src="assets/images/phynameheader.png" alt="" class="footer-name img-fluid w-100" style="background: white;">

          </div>
          <p class="font-bold title-color">A complete solution of physiotherapy at your home comfort</p>
          <div class="divider mb-4"></div>
          <h3>Contact Us: <a href="tel:+918006300438">

              <span class=" ">+91 8006300438</span>
            </a>
          </h3>

        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="widget mb-5 mb-lg-0">
          <h4 class="text-capitalize mb-3">Links</h4>
          <div class="divider mb-4"></div>

          <ul class="list-unstyled footer-menu lh-35">
            <li><a routerLink="/services">Our services </a></li>
            <li><a routerLink="/physiotherapy-in-faridabad">Physiotherapy in Faridabad</a></li>
            <li><a routerLink="/about">About Dr. Zeeshan</a></li>
            <li><a routerLink="/reviews">Customer reviews</a></li>

          </ul>
        </div>
      </div>

      <div class="col-lg-2 col-md-6 col-sm-6 col-6">
        <div class="widget mb-5 mb-lg-0">
          <h4 class="text-capitalize mb-3">Support</h4>
          <div class="divider mb-4"></div>

          <ul class="list-unstyled footer-menu lh-35">
            <li><a routerLink="career">Career</a></li>
            <li><a routerLink="/terms">Terms &amp; Conditions</a></li>
            <li><a routerLink="/policies">Privacy Policy</a></li>
            <li><a routerLink="faqs">FAQs</a></li>

          </ul>
        </div>
      </div>


    </div>

    <div class="footer-btm py-4 mt-5">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-6 text-center text-lg-left">
          <div class="copyright">
            © Copyright Reserved by <span class="text-color">ZeeshanPhysiotherapy.com </span>
          </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
          <ul class="list-inline footer-socials mt-4">
            <li class="list-inline-item"><a href=" "><i class="fa fa-facebook-f social-media-icons"
                  aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href=" "><i class="fa fa-twitter social-media-icons"
                  aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href=" "><i class="fa fa-linkedin social-media-icons"
                  aria-hidden="true"></i></a></li>
          </ul>
        </div>

      </div>

      <div class="row">
        <div class="col-lg-4">
          <a class="backtop js-scroll-trigger reveal" target="_blank"
            href="https://wa.me/918006300438?text=Hi,I%20want%20to%20book%20an%20appointment">
            <i class="icofont-whatsapp font-size-45"></i>
          </a>
          <a class="backtop1 js-scroll-trigger reveal" target="_blank" href="tel:+918006300438 ">
            <i class="icofont-phone font-size-45"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>