<!-- <section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <span class="about-us-text">About Us</span>
          <h1 class="text-capitalize mb-4 mt-3 text-lg">Daksh Physiotherapy at home</h1>
          <h5 class="about-us-text">We are based in Faridabad and serve in Delhi-NCR</h5>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="page-title bg-1">
  <div class="container bg-overlay">
    <div class="row">
      <div class="col-12 col-sm-12">
              <div class="block text-center">
                  <span class="text-white about-us-text mb-5">About Us</span>
                  <h2 class="text-capitalize text-white mb-5 text-lg">Re Live Physiotherapy at home</h2>
                  <h5 class="about-us-text mb-3">We are based in Faridabad and serve in Delhi-NCR</h5>
              </div>
          </div>
    </div>
  </div>
  </section>


<section class="section about-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h2 class="title-color">Our Mission</h2>
      </div>
      <div class="col-lg-8">
        <h5 class="font-weight-light text-justify">Our mission is to provide our patients a deep examination of injury
          and accordingly provide them best effective and caring treatment at their home comfort.</h5>
      </div>
    </div>
  </div>
</section>


<section class="fetaure-page ">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="about-block-item mb-5 mb-lg-0 text-center">
          <i class="fa fa-home display-3 about-us-icons" aria-hidden="true"></i>
          <h4 class="mt-3">Physiotherapy At Home</h4>
          <p>We provide physiotherapy services at your home comfort with-in Delhi NCR</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="about-block-item text-center">
          <i class="fa fa-user-md display-3 about-us-icons" aria-hidden="true"></i>
          <h4 class="mt-3">Certified Doctors</h4>
          <p>Our all doctors are professional and highly trained certified in physiotherapy</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="about-block-item mb-5 mb-lg-0 text-center">
          <!-- <i class="fa fa-stretcher display-3" aria-hidden="true"></i> -->
          <i class="fa fa-user-md display-3 about-us-icons" aria-hidden="true"></i>
          <h4 class="mt-3">Modern Equipments</h4>
          <p>Our physiotherapists come with modern equipments whatever your therapy needs at home.</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="about-block-item mb-5 mb-lg-0 text-center">
          <i class="fa fa-user-md display-3 about-us-icons" aria-hidden="true"></i>
          <h4 class="mt-3">Covid Safety</h4>
          <p>Our experts visits with safety norms for covid 19. Temperture is checked before a visit for every expert.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section doctor-single">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="doctor-img-block">
          <img src="assets/images/profilepic.png"class="img-fluid w-100" alt="" style="width: 60% !important;">


        </div>
      </div>

      <div class="col-lg-9 col-md-6">
        <div class="doctor-details mt-4 mt-lg-0">
          <h2 class="text-md">Our Managing Director</h2>
          <div class="divider my-2"></div>
          <div class="info-block mt-4">
            <h4 class="mb-0">Dr. Zeeshan</h4>
            <!-- <p>BPT MPT Neurology</p> -->
          </div>
          <p class="text-justify">Dr. Zeeshan is an expert in the field of physiotherapy having
            experience of 3 years+. He always keeps himself up-to-date with the latest techniques and developments in
            the field of physiotherapy and uses the best and latest techniques to make sure that the patient gets the
            most effective treatment available.</p>


          <a routerLink="/appointment" class="btn btn-main-2 btn-round-full mt-3">Make an Appointment<i
              class="icofont-simple-right ml-2  "></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="section doctor-qualification gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-title mb-5">
          <h3>Dr. Zeeshan's Educational Qualifications</h3>
          <div class="divider my-4"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="edu-block mb-0">
          <i class="fa fa-user-md display-3" aria-hidden="true"></i>
          <h4 class="mb-3 title-color">MPT NEURO</h4>
          <p>At Teerthanker Mahaveer University</p>
        </div>


      </div>

      <div class="col-lg-6">
        <div class="edu-block mb-0">
          <i class="fa fa-user-md display-3" aria-hidden="true"></i>
          <h4 class="mb-3 title-color">BPT</h4>
          <p>At Teerthanker Mahaveer University</p>
        </div>


      </div>
    </div>
  </div>
</section> -->



<section class="section doctor-skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

        <h4>Physiotherapy Expertise</h4>
        <div class="divider my-4"></div>
        <div class="row">
          <div class="col-lg-6">

            <ul class="list-unstyled department-service mb-0 title-color font-bold">
                <li><i class="fa fa-check mr-2 mb-3"></i> Chest Physiotherapy</li>
                <li><i class="fa fa-check mr-2 mb-3"></i> Back pain</li>
                <li><i class="fa fa-check mr-2 mb-3"></i> Cervical Physiotherapy</li>
                <li><i class="fa fa-check mr-2 mb-3"></i> Post-Covid 19 Physiotherapy</li>
                <li><i class="fa fa-check mr-2 mb-3"></i> Post Surgery Physiotherapy</li>
                <li><i class="fa fa-check mr-2 mb-3"></i> Home Physiotherapy </li>
            </ul>
        </div>
        <div class="col-lg-6">
            <ul class="list-unstyled department-service title-color font-bold">
                <li><i class="fa fa-check mr-2 mb-3"></i> Peralysis Physiotherapy</li>
                <li><i class="fa fa-check mr-2 mb-3"></i> Parkinson Disease Physiotherapy</li>
                <li><i class="fa fa-check mr-2 mb-3"></i> Foot Drop Physiotherapy</li>
                <li><i class="fa fa-check mr-2 mb-3"></i> Stroke Physiotherapy</li>
                <li><i class="fa fa-check mr-2 mb-3"></i> Frozen Shoulder Physiotherapy</li>
                <li><i class="fa fa-check mr-2 mb-3"></i> Video Calling Physiotherapy</li>
            </ul>

        </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sidebar-widget  gray-bg p-4">
          <h5 class="mb-4">Make Appointment</h5>
          <div class="divider my-4"></div>
          <ul class="list-unstyled lh-35">
            <li class="d-flex justify-content-between align-items-center">
              Monday - Sunday
              <span>07:00 am - 10:00 pm</span>
            </li>
            <li class="d-flex justify-content-between align-items-center">
              Emergency case
              <span>10:00 pm - 07:00 am</span>
            </li>

          </ul>

          <div class="sidebar-contatct-info mt-4">
            <p class="mb-0">Need Urgent Help?</p>

            <h3 class="text-color-2"><a class="text-color-2" href="tel:+918006300438">+91 8006300438</a></h3>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
