<!-- <section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <h1 class="text-capitalize mb-5 text-lg">Gallery</h1>

        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="page-title bg-1">
  <div class="container bg-overlay">
    <div class="row">
      <div class="col-12 col-sm-12">
              <div class="block text-center">                 
                  <h1 class="text-capitalize text-white text-lg mb-5">Gallery</h1>                 
              </div>
          </div>
    </div>
  </div>
  </section>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-lg-3 col-sm-6 col-md-6 mb-4 mt-4  ">
      <div class="position-relative doctor-inner-box">
        <div class="doctor-profile">
          <div class="doctor-img">
            <img src="assets/images/gallery1.jpeg" alt="Physiotherapy" class="img-fluid w-100">
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-md-6 mb-4 mt-4  ">
      <div class="position-relative doctor-inner-box">
        <div class="doctor-profile">
          <div class="doctor-img">
            <img src="assets/images/gallery2.jpg" alt="Physiotherapy" class="img-fluid w-100">
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-md-6 mb-4 mt-4  ">
      <div class="position-relative doctor-inner-box">
        <div class="doctor-profile">
          <div class="doctor-img">
            <img src="assets/images/gallery3.jpg" alt="Physiotherapy" class="img-fluid w-100">
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-md-6 mb-4 mt-4  ">
      <div class="position-relative doctor-inner-box">
        <div class="doctor-profile">
          <div class="doctor-img">
            <img src="assets/images/gallery4.png" alt="Physiotherapy" class="img-fluid w-100">
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-md-6 mb-4 mt-4  ">
      <div class="position-relative doctor-inner-box">
        <div class="doctor-profile">
          <div class="doctor-img">
            <img src="assets/images/gallery5.jpg" alt="Physiotherapy" class="img-fluid w-100">
          </div>
        </div>

      </div>
    </div>

    <div class="col-lg-3 col-sm-6 col-md-6 mb-4 mt-4  ">
      <div class="position-relative doctor-inner-box">
        <div class="doctor-profile">
          <div class="doctor-img">
            <img src="assets/images/gallery6.jpg" alt="Physiotherapy" class="img-fluid w-100">
          </div>
        </div>

      </div>
    </div>

    <div class="col-lg-3 col-sm-6 col-md-6 mb-4 mt-4  ">
      <div class="position-relative doctor-inner-box">
        <div class="doctor-profile">
          <div class="doctor-img">
            <img src="assets/images/gallery7.webp" alt="Physiotherapy" class="img-fluid w-100">
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-md-6 mb-4 mt-4  ">
      <div class="position-relative doctor-inner-box">
        <div class="doctor-profile">
          <div class="doctor-img">
            <img src="assets/images/gallery8.jpeg" alt="Physiotherapy" class="img-fluid w-100" style="height: 11rem;">
          </div>
        </div>

      </div>
    </div>

    <div class="col-lg-3 col-sm-6 col-md-6 mb-4 mt-4  ">
      <div class="position-relative doctor-inner-box">
        <div class="doctor-profile">
          <div class="doctor-img">
            <img src="assets/images/gallery9.jpg" alt="Physiotherapy" class="img-fluid w-100">
          </div>
        </div>

      </div>
    </div>



  </div>
</div>