<!-- <section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">

                    <h1 class="text-capitalize mb-5 text-lg">Join Our team as Expert Physiotherapist</h1>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="page-title bg-1">
    <div class="container bg-overlay">
      <div class="row">
        <div class="col-12 col-sm-12">
                <div class="block text-center">                   
                    <h1 class="text-capitalize text-white mb-5 text-lg">Join Our team as Expert Physiotherapist</h1>                   
                </div>
            </div>
      </div>
    </div>
    </section>

<section class="appoinment section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="mt-3">
                    <span class="h2">You should be: </span>
                    <div class="feature-icon mb-3 mt-2">
                        <i class="icofont-badge text-lg"></i>
                        <span class="h3 ml-3">Expert in Physiotherapy</span>
                    </div>
                    <div class="feature-icon mb-3 mt-2">
                        <i class="icofont-dart text-lg"></i>
                        <span class="h3 ml-3">Self Motivated</span>
                    </div>
                    <div class="feature-icon mb-3 mt-2">
                        <i class="icofont-nurse text-lg"></i>
                        <span class="h3 ml-3">Caring and patient</span>
                    </div>




                </div>
            </div>

            <div class="col-lg-7">
                <div class="appoinment-wrap mt-5 mt-lg-0 pl-lg-5">
                    <h2 class="mb-2 title-color">Join us</h2>
                    <p class="mb-4 title-color font-bold">Enter details below</p>
                    <form [formGroup]="CareerForm">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <input name="name" id="name" type="text" class="form-control" placeholder="Full Name"
                                formControlName="FullName" autocomplete="off" tabindex="0" maxlength="50">
                            </div>
                            <div class="col-lg-6 mb-3 ml-3">

                                <input name="phone" id="phone" type="tel" class="form-control"
                                    placeholder="Phone Number" maxlength="10"
                                    formControlName="MobileNumber" autocomplete="off" tabindex="0">
                            </div>
                        </div>
                        <div class="row">                           

                            <div class="col-lg-12 mb-3">
                                <input name="address" id="address" type="text" class="form-control"
                                    placeholder="Full address"
                                    formControlName="Address" autocomplete="off" tabindex="0" maxlength="200">

                            </div>
                        </div>
                        <div class="form-group-2 mb-3">
                            <textarea name="message" id="message" class="form-control" rows="2"
                                placeholder="Your Message"
                                formControlName="Message" autocomplete="off" tabindex="0" maxlength="300"></textarea>
                        </div>
                        <input class="btn btn-main btn-round-full mt-3" name="submit" type="submit" (click)="SaveCareers()" value="Book Now ">
                    </form>                 
                </div>
            </div>
        </div>
    </div>

</section>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
    </ngx-spinner> 