<!-- <section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">

                    <h1 class="text-capitalize mb-5 text-lg">Frequently Asked Questions</h1>

                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="page-title bg-1">
    <div class="container bg-overlay">
      <div class="row">
        <div class="col-12 col-sm-12">
                <div class="block text-center">                   
                    <h2 class="text-capitalize text-center text-white mb-5 ">Frequently Asked Questions</h2>                   
                </div>
            </div>
      </div>
    </div>
    </section>

<div class="container">

    <div class="faq_area section_padding_130" id="faq">
        <div class="container">

            <div class="row justify-content-center">
                <!-- FAQ Area-->
                <div class="col-12 col-sm-10 col-lg-8">
                    <div class="accordion faq-accordian">
                        <div class="card border-0">
                            <div class="card-header" (click)=ToggleWhatPhysio()>
                                <h6 class="mb-0 ">What is physiotherapy?</h6>
                            </div>
                            <div class="card-body font-bold title-color gray-bg mb-3" [hidden]="!showWhatPhysio">
                                <p>Physical therapy, also known as physiotherapy, is one of the allied health
                                    professions. It is provided by physical therapists who promote, maintain, or
                                    restore health through physical examination, diagnosis, prognosis, patient
                                    education, physical intervention, rehabilitation, disease prevention, and health
                                    promotion.</p>

                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-header" (click)=ToggleWhoPhysio()>
                                <h6 class="mb-0 ">Who is a Physiotherapist?</h6>
                            </div>
                            <div class="card-body font-bold title-color gray-bg mb-3" [hidden]="!showWhoPhysio">
                                <p>Physiotherapist is expert in injury diagnosis, injury treatment, exercise
                                    prescription, injury prevention, rehabilitation and many other areas of sport
                                    and health and fitness.</p>

                            </div>
                        </div> 
                        
                        <div class="card border-0">
                            <div class="card-header" (click)=ToggleBookOnline()>
                                <h6 class="mb-0 ">Can I book online?</h6>
                            </div>
                            <div class="card-body font-bold title-color gray-bg mb-3" [hidden]="!showBookOnline">
                                <p>Yes, you can book online appointment <a class="brand-color"
                                    routerLink="/appointment">here</a>.</p>

                            </div>
                        </div> 

                        <div class="card border-0">
                            <div class="card-header" (click)=ToggleVisit()>
                                <h6 class="mb-0 ">Do you visit same day of
                                    appoitment made?</h6>
                            </div>
                            <div class="card-body font-bold title-color gray-bg mb-3" [hidden]="!showVisit">
                                <p>Yes, we visit on same day if doctor is available for that slot.</p>

                            </div>
                        </div> 

                        <div class="card border-0">
                            <div class="card-header" (click)=TogglePaymentOptions()>
                                <h6 class="mb-0 ">What are paymetn options
                                    available?</h6>
                            </div>
                            <div class="card-body font-bold title-color gray-bg mb-3" [hidden]="!showPaymentOptions">
                                <p>We accept cash, google pay, paytm, phonepay and direct bank transfer.</p>

                            </div>
                        </div> 


                        <div class="card border-0">
                            <div class="card-header" (click)=ToggleDoctoReferral()>
                                <h6 class="mb-0 ">Do I need a doctor’s
                                    referral?</h6>
                            </div>
                            <div class="card-body font-bold title-color gray-bg mb-3" [hidden]="!showDoctoReferral">
                                <p>No, you don't need a referal, our physiotherapists can assess and treat you
                                    without referral.</p>

                            </div>
                        </div> 

                        <div class="card border-0">
                            <div class="card-header" (click)=ToggleKids()>
                                <h6 class="mb-0 ">Do you work with kids?</h6>
                            </div>
                            <div class="card-body font-bold title-color gray-bg mb-3" [hidden]="!showKids">
                                <p>Absolutely! We have treated a number of younger patients.</p>

                            </div>
                        </div> 

                        <div class="card border-0">
                            <div class="card-header" (click)=ToggleSession()>
                                <h6 class="mb-0 ">How many physiotherapy sessions
                                    do I need?</h6>
                            </div>
                            <div class="card-body font-bold title-color gray-bg mb-3" [hidden]="!showSession">
                                <p>This depends on injury, symptoms, how long you are having problem.</p>

                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-header" (click)=ToggleCertificate()>
                                <h6 class="mb-0 ">Do you have cerified
                                    physiotherapists?</h6>
                            </div>
                            <div class="card-body font-bold title-color gray-bg mb-3" [hidden]="!showCertificate">
                                <p>Yes, we have all certified physiotherapists.</p>

                            </div>
                        </div>                                                                                                               
                    </div>
                <div class="support-button text-center d-flex align-items-center justify-content-center mt-5">                        
                        <p class="font-bold title-color mb-0 px-2">Can't find your answers?</p>
                        <a href="tel:+918006300438">Call Now</a>
                        <span class="h6">+91 8006300438</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>