<!-- <section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">

                    <h1 class="text-capitalize mb-5 text-lg">Reviews</h1>

                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="page-title bg-1">
    <div class="container bg-overlay">
      <div class="row">
        <div class="col-12 col-sm-12">
                <div class="block text-center">                 
                    <h1 class="text-capitalize text-white text-lg mb-5">Reviews</h1>                 
                </div>
            </div>
      </div>
    </div>
    </section>

<section class="section service-2 service pt-5 pb-4 reviews-background">
    <h1 class="text-center mt-5 mb-5">We served over 1500+ Happy Patients</h1>
    <div class="section-title">
        <h3 class="text-center mt-5 mb-5">What our happy patients say about us</h3>      
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="service-item mb-4">
                    <div class="testimonial-thumb">
                        <img src="assets/images/user2.webp" alt="" class="reviews-icons img-fluid">
                    </div>

                    <div class="client-info">
                        <h4>Shalini(age 50)</h4>
                        <span class="reviews-heading">Frozen shoulder physiotherapy</span>
                        <p class="mt-5">
                            I strained my shoulder while doing some house hold work. I thought it was normal but it
                            turned into Frozen shoulder. relivephysiotherapy.com sent me best physiotherapist to treat
                            me.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="service-item mb-4">
                    <div class="testimonial-thumb">
                        <img src="assets/images/user1.webp" alt="" class="reviews-icons img-fluid">
                    </div>

                    <div class="client-info">
                        <h4>Ashok Sinha(age 70)</h4>
                        <span class="reviews-heading">Parkinson disease physiotherapy</span>
                        <p class="mt-5">
                            I lost my hope that I will be cured for my parkinson disease but I am very thankful to Dr.
                            zeeshan and relivephysiotherapy.com to treat my disease. They work with patience and elegance.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="service-item mb-4">
                    <div class="testimonial-thumb">
                        <img src="assets/images/user2.webp" alt="" class="reviews-icons img-fluid">
                    </div>

                    <div class="client-info">
                        <h4>L.P. Singh(age 52)</h4>
                        <span class="reviews-heading">Frozen shoulder physiotherapy</span>
                        <p class="mt-5">
                            I strained my shoulder while doing some house hold work. I thought it was normal but it
                            turned into Frozen shoulder. relivephysiotherapy.com sent me best physiotherapist to treat
                            me.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="service-item mb-4">
                    <div class="testimonial-thumb">
                        <img src="assets/images/user1.webp" alt="" class="reviews-icons img-fluid">
                    </div>

                    <div class="client-info">
                        <h4>Suresh Singh(age 65)</h4>
                        <span class="reviews-heading">Parkinson disease physiotherapy</span>
                        <p class="mt-5">
                            I lost my hope that I will be cured for my parkinson disease but I am very thankful to Dr.
                            zeeshan and relivephysiotherapy.com to treat my disease. They work with patience and elegance.
                        </p>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>